<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title></title>
</head>


<body>
	<div class="col-lg-12 mb-4" id="sb">
		<div class="card">
			<form>
				<div class="card-header">
					<label for="exampleInputEmail1">会员信息</label> 
					<select style="width: 150px; height: 28px" id="dsys" @change="djname()">
						<option>全部等级</option>
						<option v-for="w,index in dengji">{{w.djname}}</option>
					</select>
					<input id="djidq" style="display: none" value="0">
					 <input type="text" maxlength="30" value="" name="keywords"
						class="inputText keywords" placeholder="查找">
					<input type="button" value="查找" @click="queryVip(1)" class="button button1">
					<button class="button button1">导入会员</button>
					<button class="button button1">导出会员</button>

					<!-- Button trigger modal -->
					<button type="button" data-toggle="modal" data-target="#huiyuan1" class="button button1">添加会员</button>

					<!-- Modal -->
					<div class="modal fade" id="huiyuan1" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="myModalLabel">添加会员</h4>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true" @click="qk()">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<table style="margin: auto;">
										<tr>
											<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;<span
												style="color: red;">*</span>手机
											</td>
											<td><input type="text" v-model="vip.vphone"></td>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
											<td align="right"><span style="color: red;">*</span>名称</td>
											<td><input type="text" v-model="vip.vname"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td align="right">等级</td>
											<td>
												<select style="width: 185px; height: 30px;" id="dsy" @change="djname()">
													<option>请选择等级</option>
													<option v-for="w,index in dengji">{{w.djname}}</option>
												</select>
												<input  id="djidqs" style="display: none">
												<input id="jifen" style="display: none">
											</td>
											<td></td>
											<td align="right">&nbsp;&nbsp;&nbsp;密码</td>
											<td><input type="password" v-model="vip.vpwd"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;地址</td>
											<td colspan="4">
											<select name="provlevel" id="provlevel"style="width: 120px; height: 30px;">
													<option>--请选择省份--</option>
											</select> <select name="citylevel" id="citylevel"style="width: 120px; height: 30px; margin-left: 2px">
													
											</select> <select name="arealevel" id="arealevel"style="width: 120px; height: 30px; margin-left: 2px">
													
											</select> <input name="citysinfo" type="text" id="citysinfo"class="iptxt ie-iptxts" readonly >
											</td>
										</tr>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" data-dismiss="modal" @click="qk()">取消</button>
									<button type="button" data-dismiss="modal" @click="hyadd()">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="card-body">
				<table class="table card-text table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>姓名</th>
							<th>手机</th>
							<th>等级</th>
							<th>成交次数</th>
							<th>成交金额</th>
							<th>余额</th>
							<th>积分</th>
							<th>最近成交</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="v,index in page.list">
							<th scope="row">{{(index+1)}}</th>
							<td>{{v.vname}}</td>
							<td>{{v.vphone}}</td>
							<td>{{v.djname}}</td>
							<td>{{v.count}}</td>
							<td>{{v.price}}0</td>
							<td>{{v.vyue}}.00</td>
							<td>{{v.vjifen}}</td>
							<td>{{v.jqcount}}</td>
							<td>
								<a style="" href="#" data-toggle="modal" data-target="#huiyuan2" @click="vipQueryById()">编辑</a>
								<span id="vid" style="display: none">{{v.vid}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				
				 <div style="float: right; ">
				 <input type="button" style="float: right;color: white;background-color: pink;border-color: pink" value="" id="ys">
                 <input type="button" style="float: right;"  class="" id="sptz" value="跳转" @click="queryVips"> <input type="text"  id="spshu"style="float: right;color:block;width: 30px">
                 <input type="button" style="float: right;color:black;" value=">" @click="nextPage">
                 <input type="button" style="float: right;color: white;background-color: pink;border-color: pink" value="" id="ysy">
                 <input type="button" style="float: right;color:black;" value="<" @click="prePage">
                  </div>
				
				
				<!-- Modal -->
				<div class="modal fade" id="huiyuan2" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">编辑会员</h4>
								<button type="button" class="close" data-dismiss="modal"aria-label="Close">
									<span aria-hidden="true" @click="qkst()">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<table style="margin: auto;">
									<tr>
										<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;<span
											style="color: red;">*</span>手机
										</td>
										<td><input type="text" v-model="vipQueryByIds.vphone"></td>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td align="right"><span style="color: red;">*</span>名称</td>
										<td><input type="text" v-model="vipQueryByIds.vname"></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td align="right">等级</td>
										<td>
											<select style="width: 185px; height: 30px;" @change="djname()" id="dsyss">
												<option id="djname"></option>
												<option v-for="e,index in dengji">{{e.djname}}</option>
											</select>
												<input id="upddjid" style="display: none">
												<input id="updjifen" style="display: none">
										</td>
										<td></td>
										<td align="right">&nbsp;&nbsp;&nbsp;密码</td>
										<td><input type="password" v-model="vipQueryByIds.vpwd"></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;地址</td>
										<td colspan="4">
											<select name="provlevels" id="provlevels"style="width: 120px; height: 30px;" @change="citqk()">
													<option id="option1">--请选择省份--</option>
											</select> <select name="citylevels" id="citylevels"style="width: 120px; height: 30px; margin-left: 2px;display: none">
													<option id="option2"></option>
											</select> <select name="arealevels" id="arealevels"style="width: 120px; height: 30px; margin-left: 2px;display: none">
													<option id="option3"></option>
											</select> <input name="citysinfos" type="text" id="citysinfos"class="iptxt ie-iptxts" readonly>
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" @click="qkst()">取消</button>
								<button type="button" data-dismiss="modal"@click="hyupd()">确定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
 	<script type="text/javascript">
				var vue=new Vue({
					el:"#sb",
					data(){
						return{
							dengji:[],
							shengfen:[],
							vip:{},
							page:{
								list:[]
							},
							vipQueryByIds:{}
						}
					},
					methods:{
						//查询等级
						djqueryAll:function(){
							$.ajax({
								url:"[[@{/huiyuan/djquery}]]",
								type:"post",
								success:function(result){
									vue.dengji=result;
								}
							})
						},
						//查询等级id
						djname:function(){
							//新增界面等级名称
							var name=$("#dsy").val();
							//查询页面等级名称
							var names=$("#dsys").val();
							//修改页面等级名称
							var namess=$("#dsyss").val();
							
							var djname=null;
							if(name!="请选择等级"){
								djname=name;
							}else if(namess!=""){
								djname=namess;
							}else{
								djname=names;
							}
 							$.ajax({
								url:"[[@{/huiyuan/jdname}]]",
								type:"post",
								data:{name:djname},
								success:function(result){
									if(name!="请选择等级"){
										$("#djidqs").val(result.djid);
										$("#jifen").val(result.djxiaofei)
									}else if(namess!=""){
										$("#upddjid").val(result.djid);
										$("#updjifen").val(result.djxiaofei)
									}
									else{
										$("#djidq").val(result.djid);
									}
								}
							}) 
						},
						//上一页
		 				prePage:function(){
		 					this.queryVip(this.page.prePage);
		 				},
		 				//下一页
		 				nextPage:function(){
		 					this.queryVip(this.page.nextPage);
		 				},
		 				//跳转页面
		 				queryVips:function(){
		 					var pageNum=$("#spshu").val();
		 					 if(pageNum!=""){
		 						if(pageNum>this.page.pages){
		 							this.queryVip(this.page.pages);
		 						}else{
		 							this.queryVip(pageNum);
		 						}
		 					}
		 					$("#spshu").val("");
		 				},
						 //查询会员
						queryVip:function(pageNum){
							var djid=$("#djidq").val();
							var vname=$("[name='keywords']").val();
							if(vname==""){
								vname=null;
							}
							if(djid==""){
								djid=0;
							}
							if(pageNum==0){
								pageNum=1;
							}
							 $.ajax({
								url:"[[@{/huiyuan/hyPageQueyr}]]",
								data:{
									pageNum:pageNum,
									pageSize:2,
									djid:djid,
									vname:vname
								},
								type:"post",
								dataType:"json",
								success:function(result){
									vue.page=result;
									$("#ys").val(vue.page.pages);
									$("#ysy").val(vue.page.pageNum);
								}
							})
						},
						//按id查询会员
						vipQueryById:function(){
							var vid=$("#vid").text();
							$.ajax({
								url:"[[@{/huiyuan/vipQueryById}]]",
								type:"post",
								data:{vid:vid},
								success:function(result){
									vue.vipQueryByIds=result;
									$("#djname").text(result.djname);
									$("#citysinfos").val(result.vaddress);
									$("#upddjid").val(result.djid)
									$("#updjifen").val(result.vjifen)
								}
							})
						},
						//新增会员
						hyadd:function(){
							var djid=$("#djidq").val();
							var vaddress=$("#citysinfo").val();
							var vjifen=$("#jifen").val();
							vue.vip.djid=djid;
							vue.vip.vaddress=vaddress;
							vue.vip.vjifen=vjifen;
							vue.vip.vyue=0;
							vue.vip.sid=1;
							 $.ajax({
								url:"[[@{/huiyuan/hyadd}]]",
								type:"post",
								data:JSON.stringify(vue.vip),
								contentType:"application/json;charset=utf-8",
								success:function(result){
									vue.djqueryAll();
									vue.qk();
								}
							}) 
						},
						//修改会员
						hyupd:function(){
							var djid=$("#upddjid").val();
							var vaddress=$("#citysinfos").val();
							var vjifen=$("#updjifen").val();
							vue.vipQueryByIds.djid=djid;
							vue.vipQueryByIds.vaddress=vaddress;
							vue.vipQueryByIds.vjifen=vjifen;
							$.ajax({
								url:"[[@{/huiyuan/hyupd}]]",
								type:"post",
								data:JSON.stringify(vue.vipQueryByIds),
								contentType:"application/json;charset=utf-8",
								success:function(result){
									vue.queryVip();
								}
							})
							
						},
						//清空地址框,显示联动
						 citqk:function(){
							$("#citysinfos").val("");
							$("#citylevels").show();
							$("#arealevels").show();
						}, 
						//清空添加模态框
						qk:function(){
							vue.vip={};
							$("#dsy").val("请选择等级");
							$("#provlevel").val("--请选择省份--");
							$("#citylevel").val("--请选择城市--");
							$("#arealevel").val("--请选择区/县--");
							$("#citysinfo").val("");
						},
						//清空修改模态框
						qkst:function(){
							$("#provlevels").val("--请选择省份--");
							$("#citylevels").hide();
							$("#arealevels").hide();
						},
					},
					created:function(){
						this.djqueryAll();
						this.queryVip(1);
					}
				})
			</script> 
			<script type="text/javascript" th:src="@{/js/dizhi.js}"></script>
			<script type="text/javascript" th:src="@{/js/dizhis.js}"></script>
</body>
</html>