<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title></title>
</head>

<body>
	<div class="card">
		<div class="card-header">
			<h4 class="text-uppercase mb-0">
				职位权限
				<button style="float: right;" class="btn btn-primary"
					data-toggle="modal" data-target=".bs-example-modal-lg" id="zhiweiquanxiantianjiazhiwei">添加职位</button>
			</h4>
		</div>
		<div class="card-body">
			<table class="table card-text">
				<thead>
					<tr>
						<th>序号</th>
						<th>名称</th>
						<th>所属店铺</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="zhiweiquanxiantbody">

				</tbody>
			</table>
		</div>
	</div>

	<div id="zhiweiquanxiantb">
		<div class="modal fade bs-example-modal-lg" id="zhiweiquanxianmyModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">添加职位</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div class="modal-body">
						<table style="margin: auto;">
							<tr>
								<td>职位名称</td>
								<td><input type="hidden" id="zwid"><input style="height: 38px; margin-right: 20px;" id="zwname"></td>
								<td>所属店铺</td>
								<td>
									<select  class="custom-select" id="zhiweiquanxianselect">
									</select>
								</td>
							</tr>
							<tr>
								<td>职位权限</td>
								<td>
									<table id="zhiweiquanxianAllQuanXian">

									</table>
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-red" id="zhiweiquanxianshanchu" style="display: none;" data-dismiss="modal" onclick="zhiweiquanxianshanchu()">删除</button>
						<button type="button" class="btn btn-primary" id="zhiweiquanxianbaocun" onclick="zhiweiquanxianbaocun()">保存</button>
						<button type="button" class="btn btn-primary" id="zhiweiquanxianxiugai" onclick="zhiweiquanxianxiugai()">修改</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		
		function zhiweiquanxianinit(){
			$.ajax({
				url:"[[@{/dianpu/queryAllZhiWei}]]",
				success:function(res){
					$("#zhiweiquanxiantbody").empty();
					$.each(res,function(i,obj){
						let str=`<tr>
							<th>${i+1}</th>
							<th>${obj.zwname}</th>
							<th>${obj.dpname}</th>
							<th><a href="javascript:void(0);" onclick="zhiweiquanxianbianji(${obj.zwid})">编辑</a></th>
						</tr>`;
						$("#zhiweiquanxiantbody").append(str);
					});
				}
			});
		}
		
		
		
		function zhiweiquanxianselect(){
			$.ajax({
				url:"[[@{/dianpu/queryAllDianPu}]]",
				success:function(res){
					$("#zhiweiquanxianselect").empty();
					let str11=`<option value="0">请选择店铺</option>`;
					$("#zhiweiquanxianselect").append(str11);
					$.each(res,function(i,obj){
						let str2=`<option value="${obj.dpid}">${obj.dpname}</option>`;
						$("#zhiweiquanxianselect").append(str2);
					});
				}
			});
		}
		
		function queryQuanXian(){
			$.ajax({
				url:"[[@{/dianpu/queryQuanXian}]]",
				success:function(res){
					$("#zhiweiquanxianAllQuanXian").empty();
					$.each(res,function(i,obj1){
						let str=``;
						if(obj1.qxlb!=null){
							str+=`<tr><td>${obj1.qxlbname} :</td>`;
							$.each(res,function(index,obj2){
								if(obj2.qxid!=null){
									if(obj1.qxlb==obj2.qxlbid){
										str+=`<td><input class="hh" type="checkbox" value="${obj2.qxid}">${obj2.qxname}</td>`;
									}
								}
							});
							str+=`</tr>`;
						}
						$("#zhiweiquanxianAllQuanXian").append(str);
					});
				}
			});
		}
		
		zhiweiquanxianinit();
		zhiweiquanxianselect();
		queryQuanXian();
		
		
		function zhiweiquanxianbaocun(){
			var ids="";
			$(".hh").each(function(){
				if($(this).prop("checked")){
					ids+=$(this).val()+",";
				}
			});
			$.ajax({
				url:"[[@{/dianpu/insertZhiWei}]]",
				type:"post",
				data:{
					zwname:$("#zwname").val(),
					dpid:$("#zhiweiquanxianselect").val(),
					qxid:ids
				},
				success:function(res){
					zhiweiquanxianinit();
					$("#zhiweiquanxianmyModal").modal("hide");
				}
			});
		}
		
		function zhiweiquanxianxiugai(){
			var ids="";
			$(".hh").each(function(){
				if($(this).prop("checked")){
					ids+=$(this).val()+",";
				}
			});
			$.ajax({
				url:"[[@{/dianpu/updateZhiWei}]]",
				type:"post",
				data:{
					zwid:$("#zwid").val(),
					zwname:$("#zwname").val(),
					dpid:$("#zhiweiquanxianselect").val(),
					qxid:ids
				},
				success:function(res){
					zhiweiquanxianinit();
					$("#zhiweiquanxianmyModal").modal("hide");
				}
			});
		}
		
		
		function zhiweiquanxianshanchu(zwid){
			if(confirm("你确定要删除吗？")){
				$.ajax({
					url:"[[@{/dianpu/deleteZhiWei}]]",
					type:"post",
					data:{
						zwid:$("#zwid").val(),
					},
					success:function(res){
						zhiweiquanxianinit();
						$("#zhiweiquanxianmyModal").modal("hide");
					}
				});
			}
			
		}
		
		function zhiweiquanxianbianji(zwid){
			
			$.ajax({
				url:"[[@{/dianpu/queryZhiWeiById}]]",
				data:{
					zwid:zwid
				},
				success:function(res){
					$("#zhiweiquanxianshanchu").hide();
					$("#zwname").val("");
					$("#zwid").val("");
					$("#zhiweiquanxianselect").val(0);
					$(".hh").each(function(){
						$(this).prop("checked",false);
					});
					$("#zwname").val(res.zwname);
					$("#zwid").val(res.zwid);
					$("#zhiweiquanxianselect").val(res.dpid);
					$("#zhiweiquanxianshanchu").show();
					let a=res.qxid;
					$(".hh").each(function(){
						let a2=$(this).val();
						if(a.indexOf(a2)!=-1){
							$(this).prop("checked",true);
						}
					});
					$("#zhiweiquanxianbaocun").hide();
					$("#zhiweiquanxianmyModal").modal("show");
				}
				
			});
		}
		
		$(function(){
			$("#zhiweiquanxiantianjiazhiwei").click(function(){
				$("#zhiweiquanxianbaocun").show();
				$("#zhiweiquanxianshanchu").hide();
				$("#zhiweiquanxianxiugai").hide();
				$("#zwname").val("");
				$("#zhiweiquanxianselect").val(0);
				$(".hh").each(function(){
					$(this).prop("checked",false);
				});
			});
		});
		
		
		</script>
</body>

</html>